.title {
  color:#2747A0;
  font-size: 24px;
  font-weight:700;
}

.button-cancel {
  font-family: Open sans-serif;
  background-color: #d9d9d9
}
.button-perform{
  font-family: Open sans-serif;
  background-color: #2747a0;
  color: #fff;
}
